*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100vw;
    gap: 500px;
    background-color:bisque;
    position: fixed;
}

.name {
display: flex;
flex-direction: column;
 justify-content: center;
 font-size: 25px;
}

.nav-items {
 display: flex;
  flex-direction: row;
  align-items: center;
  gap: 150px;
}

.hero-section {
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: beige;
    padding-top: 150px;
    gap: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.hello {
    color: palevioletred;
    font-size: 25px;
}

.hero-text {
    gap: 50px;
    height: 10rem;
}

.name {
    align-items: center;
}

.first-button {
   padding: 10px 30px;
   border-radius: 15px;
}

.second-button {
padding: 10px 30px;
border-radius: 15px;
background-color: bisque;
}

.footer {
    height: 100vh;
    width: 100vw;
    background-color: #F0F0F0;
    display: flex;
    flex-direction: row;
    /* gap: 20rem; */
    padding-left:150px ;
    padding-top: 100px;
}

.contact {
    width: 40rem;
}

.contact-form {
    width: 40rem;
   
    

}

.google-font {
    font-family: "Play", sans-serif;
}

.form {
display: flex;
flex-direction: column;
width: 400px;
align-content: center;
margin-left: 10%;
}

.button {
    padding-left: 150px ;
    /* border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; */
    height: 100px;
    margin-top: 5%;
    margin-left: 5%;
}