*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100vw;
    gap: 500px;
    background-color:#316280;
    position: fixed;
}

.name {
display: flex;
flex-direction: column;
 justify-content: center;
 font-size: 25px;
 color: white;
}

.nav-items {
 display: flex;
  flex-direction: row;
  align-items: center;
  gap: 120px;
}

.nav-items a {
    color: white;
}

.hero-section {
    /* height: 100vh; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-image: url(./img/backgroud\ pic.jpg);
    padding: 200px;
    gap: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.hello {
    color: #131342;
    font-size: 25px;
}

.hero-text {
    gap: 50px;
    height: 10rem;
}

.name-subthings {
    align-items: center;
    color: white;
}

.all-buttons {
    padding-right: 160px;
}

.first-button {
   padding: 10px 30px;
   border-radius: 15px;
   border: 0px;
   text-align: right;
}

.second-button {
padding: 10px 30px;
border-radius: 15px;
background-color:#131342;
color: white;
border: 0px;

}

.footer {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: row;
    /* gap: 20rem; */
    padding-left:150px ;
    padding-top: 100px;
}

.contact {
    width: 40rem;
    color: white;
}

.contact-form {
    width: 40rem;
    color: white;
   
    

}

.google-font {
    font-family: "Play", sans-serif;
}

.form {
display: flex;
flex-direction: column;
width: 400px;
align-content: center;
margin-left: 10%;
}

.button {
    padding-left: 150px ;
    /* border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; */
    height: 100px;
    margin-top: 5%;
    margin-left: 5%;
}

.works-section {
    /* height: 100vh;
    width: 100vw; */
    background-color:beige;
    opacity: 0.3px;
    /* margin-top: 70px;
    margin-bottom: 70px; */
    padding: 100px;

}

.works-text {
    margin-left: 30rem;
}

.pic-container {
    height: 50rem;
}

.image1-edit {
    border-radius: 150px;
    height: 15rem;
    width: 15rem;
}

.image2-edit {
    border-radius: 150px;
    height: 15rem;
    width: 15rem;
}

.image3-edit {
    border-radius: 150px;
    height: 15rem;
    width: 15rem;
    display: flex;   
}

.last-one {
    margin-left: 20rem;
    margin-top: 80px;
}

.first-two {
    height: 20rem;
}

.about-section {
    display: flex;
    flex-direction: row;
    /* height: 100vh; */
    padding-top: 100px;
    padding-left: 50px;
    padding-bottom: 50px;

}

.big-text {
    width: 60%;
    padding-left: 100px;
    height: 120vh;
    
}

.about-pic {
   width: 20rem;
   height: 25rem;
    /* border-radius: 20px; */
}

.about-sub1{
    display: flex;
    flex-direction: row;
    column-gap: 300px;
}

.color{
    color: gray;
}

.fulltime1 {
    width: 100px;
    height: 25px;
    border-radius: 15px;
    border: 0px;
    margin-bottom: 10px;
}

.fulltime2 {
    width: 100px;
    height: 25px;
    border-radius: 15px;
    border: 0px;
    margin-bottom: 10px;
    margin-left: 60px;
}

.fulltime3 {
    width: 100px;
    height: 25px;
    border-radius: 15px;
    border: 0px;
    margin-bottom: 10px; 
    margin-left: 70px;
}

.fulltime2-year {
    /* margin-left: 50px; */
    color: gray;
}

.calender-shift1 {
    margin-left: 58px;
}

.calender-shift2 {
    margin-left: 68px;
}